$vert : rgb(45, 255, 150);
$textColor :#fff;
$background : #222;
$linear :rgb(45, 255, 150);


body {
    display: flex;
    flex-direction: column;
    color: $textColor ;
    background: $background;
}


a{
  color: inherit;
  text-decoration: none;
}

nav {
    background: $vert;
    background-image: $linear;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: $textColor ;
    color: #fff ;

    width: 100%;
    height: 95px;
    margin-bottom: 40px;

    h1 {
        align-self: center;
    }
}

.inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0em 2em;
}


@media screen and (min-width: 700px) {
    .inner {
        padding: 0em 5em;
    }
}

.contentProduit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: $linear;
    width: 100%;
    padding: 5px;
    margin-bottom: 2em;
}

@media screen and (min-width: 400px) {
    .contentProduit {
        width: 45%;
    }
}

@media screen and (min-width: 1080px) {
    .contentProduit {
        width: 29%;
    }
}

.produit {
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: $background;
    

    h3 {
        top: -26px;
        align-self: center;
        padding: 0px 10px;
        background: $background;
        position: relative;
        font-size: 100%;
        overflow-y: hidden;
    }

    .imgContainer {
        width: 100%;
        // position: relative;
        // top: -16px;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            transition: 0.2s;
        }
    }

    &:hover .imgContainer img{
        transform: scale(1.2);
    }

    .row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;
    }

    .quantity {
        font-weight: 100;
        margin-left: 0px;
    }
    
    @media screen and (min-width: 700px) {
        .row {
            flex-direction: row;
        }

        .quantity {
            margin-left: 15px;
        }
    }

    

    .nameProd {
        font-size: 1.2em;
        font-weight: 700;
        color : $vert;
        margin-bottom: 5px;
    }

    &:hover .nameProd {
        text-decoration: underline;
    }

    .brand {
        font-size: 0.8em;
        font-weight: 100;
        letter-spacing: 2px;
        &::before {
            content: "by : ";
        }
    }

    .state {
        margin-top: 5px;
        color: #fff;
        padding: 0.2em 0.6em;
        align-self: flex-start;
        min-width: 6%;
        text-align: center;
        position: absolute;
    }
}